In [2]:
i=1
while i<=10:
    print(i*2)
    print(i*3)
    i+=1      ## i=i+1

2
3
4
6
6
9
8
12
10
15
12
18
14
21
16
24
18
27
20
30

## The break statement in while loop

In [4]:
i=1
while i<=10:
    print(i*2)
    if i==5:
        break
    i+=1

2
4
6
8
10

## continue statement in while loop

In [7]:
i=0
while i<=10:
    i+=1
    if i==5:
        continue
    print(i*11)

11
22
33
44
66
77
88
99
110
121

## else statement in while loop

In [8]:
i=1
while i<6:
    print(i)
    i+=1
else:
    print("no longer less than 6")

1
2
3
4
5
no longer less than 6

In [9]:
i=1
while i<=10:
    print(i*2)
    i+=1
else:
    print(" no longer value of i in table of 2")

2
4
6
8
10
12
14
16
18
20
 no longer value of i in table of 2

## For loop

In [ ]:
## syntax
 for i in <iterator>:
        <statements>

In [1]:
l=[1,2,3,4]
for i in l:
    print(i)

1
2
3
4

## looping through strings

In [3]:
s="python_developer"
for i in s:
    print(i)

p
y
t
h
o
n
_
d
e
v
e
l
o
p
e
r

## Break statement

In [5]:
s="python_developer"
for i in s:
    print(i)
    if i=="e":
        break

p
y
t
h
o
n
_
d
e

In [6]:
s="python_developer"
for i in s:
    if i=="e":
        break
    print(i)

p
y
t
h
o
n
_
d

## continue statement

In [7]:
l=[1,2,3,4,5]
for i in l:
    if i==3:
        continue
    print(i)

1
2
4
5

## the range function

In [8]:
for i in range(6):      range(end)
    print(i)

0
1
2
3
4
5

In [9]:
for i in range(2,6):   range(start,end)
    print(i)

2
3
4
5

In [10]:
for i in range(2,50,3):    range(start,end,step)
    print(i)

2
5
8
11
14
17
20
23
26
29
32
35
38
41
44
47

## else in for loop

In [11]:
for i in range(5):
    print(i)
else:
    print("finally finished")

0
1
2
3
4
finally finished

In [13]:
for i in range(5):
    if i==3:
        break
    print(i)
else:
    print("finally finished")

0
1
2

## nested loops

In [15]:
n=[1,2,3,4,5]
m=[1,4,9,16,25]
for i in n:
    for j in m:
        print(n,m)

[1, 2, 3, 4, 5] [1, 4, 9, 16, 25]
[1, 2, 3, 4, 5] [1, 4, 9, 16, 25]
[1, 2, 3, 4, 5] [1, 4, 9, 16, 25]
[1, 2, 3, 4, 5] [1, 4, 9, 16, 25]
[1, 2, 3, 4, 5] [1, 4, 9, 16, 25]
[1, 2, 3, 4, 5] [1, 4, 9, 16, 25]
[1, 2, 3, 4, 5] [1, 4, 9, 16, 25]
[1, 2, 3, 4, 5] [1, 4, 9, 16, 25]
[1, 2, 3, 4, 5] [1, 4, 9, 16, 25]
[1, 2, 3, 4, 5] [1, 4, 9, 16, 25]
[1, 2, 3, 4, 5] [1, 4, 9, 16, 25]
[1, 2, 3, 4, 5] [1, 4, 9, 16, 25]
[1, 2, 3, 4, 5] [1, 4, 9, 16, 25]
[1, 2, 3, 4, 5] [1, 4, 9, 16, 25]
[1, 2, 3, 4, 5] [1, 4, 9, 16, 25]
[1, 2, 3, 4, 5] [1, 4, 9, 16, 25]
[1, 2, 3, 4, 5] [1, 4, 9, 16, 25]
[1, 2, 3, 4, 5] [1, 4, 9, 16, 25]
[1, 2, 3, 4, 5] [1, 4, 9, 16, 25]
[1, 2, 3, 4, 5] [1, 4, 9, 16, 25]
[1, 2, 3, 4, 5] [1, 4, 9, 16, 25]
[1, 2, 3, 4, 5] [1, 4, 9, 16, 25]
[1, 2, 3, 4, 5] [1, 4, 9, 16, 25]
[1, 2, 3, 4, 5] [1, 4, 9, 16, 25]
[1, 2, 3, 4, 5] [1, 4, 9, 16, 25]

## pass statement

In [16]:
for i in [1,2,34,5]:
    pass

## Examples on while loop

1) add elements to the list using while loop

2) print a number series using while loop

In [ ]:
3) find the sum of numbred using while loop

In [ ]:
4) print all letters except e and o using while loop

In [ ]:
5) print square of numbers using while loop

In [ ]:
6) find multiples of a number using while loop

In [ ]:
7) find factorial of number using while loop

## Examples on for loop

1) print the first 10 natural numbers using fo loop

In [1]:
n=11
for i in range(1,n):
    print(i)

1
2
3
4
5
6
7
8
9
10

2) Python program to print all the even numbers within the given range

In [3]:
given_range=int(input("enter the range:"))
for i in range(given_range):
    if i%2==0:
        print(i)

enter the range:100
0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

3) Python program to calculate the sum of all numbers from 1 to a given number

In [7]:
given_no=int(input("enter the range:"))
sum=0
for i in range(1,given_no+1):
    sum+=i   # sum=sum+i
print(sum)

enter the range:100
5050

4) Python program to calculate the sum of all the odd numbers within  the given range

In [9]:
given_no=int(input("enter the range:"))
sum=0
for i in range(given_no):
    if i%2!=0:
        sum+=i   # sum=sum+i
print(sum)

enter the range:20
100

5) Python program to print a multiplication table of a given number

In [11]:
n=int(input("enter the no:"))
for i in range(1,11):
    print(n,"x",i,"=",n*i)

enter the no:5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

6) Python program to display numbers from a list using a for loop

In [12]:
l=[1,2,3,4,66,89,100]
for i in l:
    print(i)

1
2
3
4
66
89
100

7) python program to count the total no. of digits in no.

In [14]:
n=int(input("enter the no:"))
n=str(n)
count=0
for i in n:
    count+=1
print(count)

enter the no:793645235742832953
18

8) Python program to check if  the given string is a palindrome

In [2]:

string = input('Enter the string: ')

# check string is palindrome or not
i=0
for i in range(len(string)):
   if string[i]!=string[-1-i]:
      print(string,'is not a Palindrome')
      break
else:
   print(string,'is a Palindrome')

Enter the string: samadhan
samadhan is not a Palindrome

9) Python program to check if a given number is an Armstrong number.

In [4]:
n=int(input("enter the no:"))
n=str(n)
str_length=len(n)
sum=0
for i in n:
    sum+=int(i)**str_length
if sum==int(n):
    print("given no ",n,"is an Armstrong no")
else:
    print("not Armstrong")

enter the no:345
not Armstrong

10) Python program to count the number of even and odd numbers from a series of numbers

In [5]:
l=[1,2,3,4,5,6,7,8,90,12,34,678,456,98]
for i in l:
    if i%2==0:
        print(i,"is even no")
    else:
        print(i,"is odd no")

1 is odd no
2 is even no
3 is odd no
4 is even no
5 is odd no
6 is even no
7 is odd no
8 is even no
90 is even no
12 is even no
34 is even no
678 is even no
456 is even no
98 is even no

11) Python program to find factorial of given number.

In [6]:
n=int(input("enter the no:"))
fac=1
for i in range(1,n+1):
    fac=fac*i
print("the factorial of",n,"is",fac)

enter the no:6
the factorial of 6 is 720

12) Python program that accepts a string and calculates the number of digits and letters

In [1]:
s=input("enter a string:")
digits=0
letters=0
for i in s:
    if i.isdigit():
        digits=digits+1
    elif i.isalpha():
        letters=letters+1
print("the string",s,"has",letters,"letters and",digits,"digits")

enter a string:sma123
the string sma123 has 3 letters and 3 digits

13) Python program to convert the month name to a number of days