In [4]:
t=(1,2,3,4)
print(t)

(1, 2, 3, 4)

In [5]:
t=(1,2,3,4)   # tulle is unchangeable
t[1]=5
print(t)

TypeError: 'tuple' object does not support item assignment

In [6]:
t=(1,2,3,4,1,2,3,4)  # tuple allows duplicate value
t

(1, 2, 3, 4, 1, 2, 3, 4)

In [7]:
print(len(t))

8

- tuple with one item

In [12]:
t1=("apple",)
print(t1)
print(type(t1))

('apple',)
<class 'tuple'>

Tuple items- data types

In [13]:
t2=("apple","cherry","banana","mango")  # tulle can contain different data types
t3=("apple","cherry",1,2,8.9)
t4=(True,True,False,6,7)
print(t2)
print(t3)
print(t4)

('apple', 'cherry', 'banana', 'mango')
('apple', 'cherry', 1, 2, 8.9)
(True, True, False, 6, 7)

## tuple constructor

In [14]:
t5=tuple((1,2,3,"apple","banana"))
print(t5)

(1, 2, 3, 'apple', 'banana')

## Access tuple items

indexing

In [18]:
t2=("apple","cherry","banana","mango","chilli","pineapple","watermelon")
print(t2[3])
print(t2)

mango
('apple', 'cherry', 'banana', 'mango', 'chilli', 'pineapple', 'watermelon')

In [17]:
print(t2[4])

chilli

In [19]:
t2[6]

'watermelon'

In [20]:
t2[7]

IndexError: tuple index out of range

Negative indexing

In [21]:
t2=("apple","cherry","banana","mango","chilli","pineapple","watermelon")
print(t2[-3])
print(t2)

chilli
('apple', 'cherry', 'banana', 'mango', 'chilli', 'pineapple', 'watermelon')

In [22]:
t2[-7]

'apple'

In [23]:
t2[-5]

'banana'

Slicing in tuple

In [26]:
t2=("apple","cherry","banana","mango","chilli","pineapple","watermelon")   ## [start:stop:step]
print(t2)
print(t2[0:7:3])

('apple', 'cherry', 'banana', 'mango', 'chilli', 'pineapple', 'watermelon')
('apple', 'mango', 'watermelon')

In [28]:
print(t2[2:4])

('banana', 'mango')

In [31]:
t2=("apple","cherry","banana","mango","chilli","pineapple","watermelon")   ## [start:stop:step]
print(t2)
print(t2[-4:-2])

('apple', 'cherry', 'banana', 'mango', 'chilli', 'pineapple', 'watermelon')
('mango', 'chilli')

In [32]:
t2[:3]  #by leaving start value

('apple', 'cherry', 'banana')

In [33]:
t2[2:]   #  by leaving end value

('banana', 'mango', 'chilli', 'pineapple', 'watermelon')

## Updating tuples

In [1]:
t1=("mango","cherry","apple","papaya")
y=list(t1)  # tuple to list
print(y)
y[1]="pineapple"   # update list
print(y)
t1=tuple(y)    # list to tuple
print(t1)

['mango', 'cherry', 'apple', 'papaya']
['mango', 'pineapple', 'apple', 'papaya']
('mango', 'pineapple', 'apple', 'papaya')

- Add items in tuple

In [5]:
t1=("mango","cherry","apple","papaya")
y=list(t1)
print(y)   # tuple to list
y.append("pineapple")   # add element to list
t1=tuple(y)
print(t1)    # list to  tuple

('mango', 'cherry', 'apple', 'papaya')
['mango', 'cherry', 'apple', 'papaya']
('mango', 'cherry', 'apple', 'papaya', 'pineapple')

- Add tuple to tuple

In [6]:
t1=("mango","cherry","apple","papaya")
print(t1)
t2=("pineapple","banana")
t1+=t2   # Assignment on tuple
print(t1)

('mango', 'cherry', 'apple', 'papaya')
('mango', 'cherry', 'apple', 'papaya', 'pineapple', 'banana')

- Remove items from tuple

In [7]:
t1=("mango","cherry","apple","papaya")
y=list(t1)  # list to tuple
print(y)
y.remove("apple") # remove item
t1=tuple(y)
print(t1)   # convert to tuple

['mango', 'cherry', 'apple', 'papaya']
('mango', 'cherry', 'papaya')

## Unpacking in tuple

In [9]:
t1=("mango","cherry","apple","papaya")  # values
(green,yellow,orange,red)=t1   # variables
print(green)

print(yellow)
print(orange)
print(red)

mango
cherry
apple
papaya

In [12]:
t1=("mango","cherry","apple","papaya","pineapple","lemon")  # values
(green,yellow,*orange)=t1  

print(green)

print(yellow)
print(orange)

mango
cherry
['apple', 'papaya', 'pineapple', 'lemon']

In [13]:
t1=("mango","cherry","apple","papaya","pineapple","lemon")  # values
(green,*yellow,orange)=t1  

print(green)

print(yellow)
print(orange)

mango
['cherry', 'apple', 'papaya', 'pineapple']
lemon

In [14]:
t1=("mango","cherry","apple","papaya","pineapple","lemon")  # values
(*green,yellow,orange)=t1  

print(green)

print(yellow)
print(orange)

['mango', 'cherry', 'apple', 'papaya']
pineapple
lemon

## Join two tuples

In [18]:
t1=("a","b","c")
t2=(1,2,3,4,5)
t3=t1+t2
print(t3)

('a', 'b', 'c', 1, 2, 3, 4, 5)

## Multiply tuples

In [19]:
t1=("a","b","c")
t2=t1*3
print(t2)

('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

## Tuple methods

In [20]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [21]:
print(t2)

('a', 'b', 'c', 'a', 'b', 'c', 'a', 'b', 'c')

In [22]:
t2.count("a")

3

In [23]:
t2.count("c")

3

In [24]:
t2.index("a")

0

In [25]:
t2.index("a")

0

In [26]:
t2.index("b")

1