In [1]:
s={1,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

In [2]:
s

{1, 2, 3, 4, 5}

- sets are unordered, unindexed,unchangeable

In [3]:
s1={"a","b","c","a"}   ## set do not allows dupicates
print(s1)

{'c', 'a', 'b'}

## Length of set

In [4]:
s1={"a","b","c","a"}   ## set do not allows dupicates
print(s1)
print(len(s1))

{'c', 'a', 'b'}
3

## Set items data types

In [5]:
s1={1,4,6,8,9}
print(s1)
s2={"a","b","c"}
print(s2)
s3={True,True,False}
print(s3)

{1, 4, 6, 8, 9}
{'c', 'a', 'b'}
{False, True}

In [11]:
s4={1,2,3,"x",True,"y","z"}  # Set allows different data types
print(s4)

{1, 2, 3, 'y', 'x', 'z'}

## Set constructor

In [12]:
s=set(("a",1,2,3,7))
print(s)

{1, 2, 3, 7, 'a'}

## Accessing set items

- By using for loop

In [13]:
s1={"apple","banana","cherry","watermelon"}
for x in s1:
    print(x)

banana
cherry
apple
watermelon

- By using in keyword

In [14]:
s1={"apple","banana","cherry","watermelon"}
print("apple" in s1)

True

## Adding set items

In [15]:
s1={"apple","banana","cherry","watermelon"}
s1.add("lemon")
print(s1)

{'banana', 'cherry', 'apple', 'lemon', 'watermelon'}

## Add sets

In [16]:
s1={"apple","banana","cherry","watermelon"}
s2={"lemon","papaya","mango"}
s1.update(s2)
print(s1)

{'cherry', 'apple', 'mango', 'banana', 'lemon', 'watermelon', 'papaya'}

## Adding any iterable

In [17]:
s1={"apple","banana","cherry","watermelon"}
l1=["lemon","papaya","mango"]
s1.update(l1)
print(s1)

{'mango', 'banana', 'papaya', 'cherry', 'apple', 'lemon', 'watermelon'}

## Remove items

In [19]:
s1={"apple","banana","cherry","watermelon"}   ## remove() method
s1.remove("cherry")
print(s1)

{'banana', 'apple', 'watermelon'}

In [20]:
s1={"apple","banana","cherry","watermelon"}
s1.discard("cherry")       ## discard() method
print(s1)

{'banana', 'apple', 'watermelon'}

In [21]:
s1={"apple","banana","cherry","watermelon"}
x=s1.pop()           # removes last item
print(x)
print(s1)

banana
{'cherry', 'apple', 'watermelon'}

In [22]:
s1={"apple","banana","cherry","watermelon"}
s1.clear()        ## remove the set or empty set
print(s1)

set()

In [24]:
s1={"apple","banana","cherry","watermelon"}
del s1     ## delete set completely
print(s1)

NameError: name 's1' is not defined

## Set methods

In [1]:
print(dir(set))

['__and__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__iand__', '__init__', '__init_subclass__', '__ior__', '__isub__', '__iter__', '__ixor__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__rand__', '__reduce__', '__reduce_ex__', '__repr__', '__ror__', '__rsub__', '__rxor__', '__setattr__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__xor__', 'add', 'clear', 'copy', 'difference', 'difference_update', 'discard', 'intersection', 'intersection_update', 'isdisjoint', 'issubset', 'issuperset', 'pop', 'remove', 'symmetric_difference', 'symmetric_difference_update', 'union', 'update']

- union method

In [29]:
s1={2,3,4,5,8,9}
s2={2,4,8,9,10}
s1.union(s2)             ##Return the union of sets as a new set.  (i.e. all elements that are in either set.)

{2, 3, 4, 5, 8, 9, 10}

- symmetric_difference_update method

In [27]:
s1={2,3,4,5,8,9}
s2={2,4,8,9,10}
s1.symmetric_difference_update(s2)        # Update a set with the symmetric difference of itself and another.

In [28]:
s1

{3, 5, 10}

- symmetric difference method

In [26]:
s1={2,3,4,5,8,9}
s2={2,4,8,9,10}
s1.symmetric_difference(s2)       # Return the symmetric difference of two sets as a new set.   (i.e. all elements that are in exactly one of the sets.)

{3, 5, 10}

- issuperset method

In [25]:
s1={2,3,4,5}
s2={2,3,4,5,1,8,9}
s2.issuperset(s1)        #  Report whether this set contains another set.

True

- issubset

In [24]:
s1={1,2,3,4,5}
s2={2,3,4,5,1}
s1.issubset(s2)        #  Report whether another set contains this set.

True

- isdisjoint method

In [20]:
s1={1,2,3,4}
s2={2,3,4,5}
s1.isdisjoint(s2)        #  Return True if two sets have a null intersection.

False

In [21]:
s1={1,2,3,4}
s2={5,6,7,8,9}
s1.isdisjoint(s2)

True

-  intersection_update

In [18]:
s1={1,2,3,4}
s2={2,3,4,5}
s1.intersection_update(s2)   # Update a set with the intersection of itself and another.

In [19]:
s1

{2, 3, 4}

- intersection method

In [17]:
s1={1,2,3,4}
s2={2,3,4,5}
s1.intersection(s2)      # Return the intersection of two sets as a new set.  (i.e. all elements that are in both sets.)

{2, 3, 4}

- discard method

In [15]:
s1={1,2,3,4}
s2={2,3,4,5}
s1.discard(3)   # Remove an element from a set if it is a member.

In [16]:
s1

{1, 2, 4}

- difference update method

In [11]:
s1={1,2,3,4}
s2={2,3,4,5}
s2.difference_update(s1)     # Remove all elements of another set from this set.

In [13]:
s1.difference_update(s2)

In [12]:
s2

{5}

In [14]:
s1

{1, 2, 3, 4}

- copy method

In [2]:
s={1,2,3,4}
s.copy()     # Return a shallow copy of a set.

{1, 2, 3, 4}

- difference method

In [4]:
s1={1,2,3,4}
s2={2,3,4,5}
s1.difference(s2)     ## Return the difference of two or more sets as a new set.

      #(i.e. all elements that are in this set but not the others.)

{1}

In [5]:
s2.difference(s1)

{5}